<ol class="breadcrumb">
  <li><a href="/"><%= h @site_settings['SITE_NAME'] %></a> (設定)</li>
</ol>

<div class="container">
  <%= erb :admin_server_tabs, locals: { index: 2 } %>

  <form action="/admin/passwords" method="POST">
    <input type="hidden" name="_method" value="PATCH">

    <table class="table">
      <% @auth_infos.each do |auth_info| %>
        <tr>
          <td style="line-height: 34px;"><%= h auth_info.id %></td>
          <td>
            <input class="form-control"
                   type="text"
                   name="PASSWORD_<%= h auth_info.id %>"
                   value="<%= h auth_info.password %>">
          </td>
        </tr>
      <% end %>
    </table>

    <input class="btn btn-primary btn-block" type="submit" value="保存">
  </form>
</div>
