<a name="top"></a>

<ol class="breadcrumb">
  <li>設定</li>
  <li><a href="/admin/boards/<%= h @board.id %>/"><%= h @board.title %></a></li>
  <li class="active"><%= h @thread.subject %></li>
</ol>

<div class="container">
  <h1>
    <a href="/test/read.cgi/<%= @board.id %>/<%= @thread.id %>"><%= h @thread.subject %></a>
    <span class="badge"><%= @thread.size %></span>
  </h1>

  <form id="delete_form" action="/admin/boards/<%= @board.id %>/<%= @thread.id %>/delete-posts" method="POST">
  </form>

  <table class="table">
    <% @posts.each do |post| %>
      <tr>
        <td>
          <% if post.number == 1 %>
            <input type="checkbox" disabled title="1は削除できません。スレッドごと削除してください。">
          <% else %>
            <input form="delete_form" name="post_numbers[]" type="checkbox" value="<%= post.number %>">
          <% end %>
        </td>
        <td><b><%= post.number %></b></td>
        <td>
          <%= post.name %>
          <span class="text-success"><%= post.mail %></span>
          <span class="text-info"><%= post.id ? "ID:#{post.id}" : "" %></span>
        </td>
        <td><%= post.date_proper %></td>
        <td>
          <pre class="nichan-message"><%= post.body %></pre>
        </td>
      </tr>
    <% end %>
  </table>

  <div class="form-group">
    <input form="delete_form" class="btn btn-warning btn-block" type="submit" value="投稿を削除">
  </div>

</div>
