<ol class="breadcrumb">
  <li><a href="/"><%= h @site_settings['SITE_NAME'] %></a></li>
  <li><a href="/<%= @board.id %>/"><%= h @board.title %></a> (設定)</li>
</ol>

<div class="container">
  <%= erb :admin_board_tabs, locals: { index: 0 } %>

  <form action="/admin/boards/<%= @board.id %>" method="POST">
    <input type="hidden" name="_method" value="PATCH">

    <div class="form-group">
      <label>タイトル</label>
      <input name="settings_BBS_TITLE" type="text" class="form-control" value="<%= h @board.settings['BBS_TITLE'] %>">
    </div>

    <div class="form-group">
      <label>名無しの名前</label>
      <input name="settings_BBS_NONAME_NAME" type="text" class="form-control" value="<%= h @board.settings['BBS_NONAME_NAME'] %>">
    </div>

    <div class="form-group">
      <label>ローカル ルール</label>
      <textarea name="local_rules" class="form-control monospace no-resize"><%= h @board.local_rules %></textarea>
    </div>

    <div class="form-group">
      <label title="スレッドストップ時に1001番目のレスとして自動的に追加されるメッセージ">1001</label>
      <textarea name="thread_stop_message" class="form-control nichan-message no-resize"><%= h @board.thread_stop_message %></textarea>
    </div>

    <div class="form-group">
      <label>IDポリシー</label>
      <div class="radio">
        <label>
          <input type="radio" name="id_policy" value="force"
          <%= 'checked' if @board.id_policy == :force %> >
          常に表示
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="id_policy" value="optional"
          <%= 'checked' if @board.id_policy == :optional %> >
          メール未記入時のみ
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="id_policy" value="no"
          <%= 'checked' if @board.id_policy == :no %> >
          表示しない
        </label>
      </div>
    </div>

    <div class="form-group">
      <input class="btn btn-primary btn-block" type="submit" value="保存">
    </div>
  </form>

</div>

<script>
 $(function() {
   autosize($('textarea'));
 });
</script>
