<ol class="breadcrumb">
  <li><a href="/"><%= h @site_settings['SITE_NAME'] %></a></li>
  <li class="active"><%= h @board.title %></li>
</ol>

<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4><%= @board.settings['BBS_TITLE'] %></h4>
    </div>

    <div class="panel-body">
      <%= @board.local_rules %>
    </div>
  </div>


  <div class="form-group">
    <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#create_thread_dialog">新規スレッド作成...</button>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>スレッド一覧</h4>
    </div>
    <% if @threads.empty? %>
      <div class="panel-body text-warning">スレッドはありません。</div>
    <% else %>
      <div class="list-group">
        <% @threads.each.with_index do |thread| %>
          <a class="list-group-item" href="/test/read.cgi/<%= @board.id + '/' + thread.id %>">
            <%= thread.subject %> <span class="badge" style="float: right; vertical-align: middle"><%= thread.size %></span></a>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="modal fade" id="create_thread_dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <%= erb :thread_create_form %>
      </div>
    </div>
  </div>

  <a class="btn btn-default btn-xs" style="float: right" href="/admin/boards/<%= h @board.id %>">
    <span class="glyphicon glyphicon-ban-circle"></span>
    管理
  </a>
</div>
