<div class="modal fade" id="post_dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span>×</span>
        </button>
        <h4 class="modal-title"><%= h @thread.subject %>に書き込み</h4>
      </div>

      <form id="post_form" class="form" action="/test/bbs.cgi" method="POST">
        <div class="modal-body">
          <div class="form-group">
            <label class="control-label">
              名前
            </label>
            <input class="form-control" name="FROM" type="text" placeholder="<%= h @board.default_name %>">
          </div>
          <div class="form-group">
            <label class="control-label">
              E-mail
            </label>
            <input class="form-control" name="mail" type="text">
          </div>
          <div class="form-group">
            <textarea class="form-control" style="width: 100%" rows=3 name="MESSAGE"></textarea>
          </div>
          <input type="hidden" name="bbs" value="<%= h @board.id %>">
          <input type="hidden" name="key" value="<%= h @thread.id %>">
        </div>

        <div class="modal-footer">
          <div class="form-group">
            <label><input type="checkbox" id="remember"> 名前とE-mailを記憶する</label>
            <input class="btn btn-primary" type="submit" name="submit" value="書き込む">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<script>
 async function submitHook(event){
     event.preventDefault();

     // ローカルストレージに名前とメールを保存する。
     if ($('#remember')[0].checked) {
         localStorage.setItem('<%= @board.id %>_name', $('input[name=mail]')[0].value);
         localStorage.setItem('<%= @board.id %>_FROM', $('input[name=FROM]')[0].value);
     } else {
         localStorage.removeItem('<%= @board.id %>_name');
         localStorage.removeItem('<%= @board.id %>_FROM');
     }

     const fd = new FormData()
     //FROM mail MESSAGE bbs key submit
     fd.set('FROM', $('input[name=FROM]')[0].value)
     fd.set('mail', $('input[name=mail]')[0].value)
     fd.set('MESSAGE', $('textarea[name=MESSAGE]')[0].value)
     fd.set('bbs', $('input[name=bbs]')[0].value)
     fd.set('key', $('input[name=key]')[0].value)
     fd.set('submit', $('input[name=submit]')[0].value)

     const res = await fetch('/test/bbs.cgi?charset=utf-8', { method: 'POST', body: fd })
     if (res.status == 200) {
         const html = await res.text();
         console.log(html)
         if (/ＥＲＲＯＲ/.exec(html)) {
             const msg = $($.parseHTML(html)).text()
             const trimmed = msg.replace(/\r/g, '')
                                .split(/\n/).map(ln => ln.trim()).filter(ln => ln!='').join("\n")
             alert(trimmed);
         } else {
             $('form#post_form')[0].reset()
             $('#post_dialog').modal('hide')
         }
     } else {
         const text = await res.text()
         alert(text)
     }
 }

 $(function(){
     $('#post_dialog').on('show.bs.modal', function(){
         // ローカルストレージから名前とメールを復元する。
         if (localStorage.getItem('<%= @board.id %>_name') || localStorage.getItem('<%= @board.id %>_FROM')) {
             $('#remember')[0].checked = true;
             $('input[name=mail]')[0].value = localStorage.getItem('<%= @board.id %>_name');
             $('input[name=FROM]')[0].value = localStorage.getItem('<%= @board.id %>_FROM');
         } else {
             $('#remember')[0].checked = false;
         }
     }).on('shown.bs.modal', function(){
         $('textarea[name=MESSAGE]').focus()
     })

     $('form#post_form').on('submit', submitHook)
 });
</script>
