<% require 'json' %>
<div class="media">
    <div class="media-left">
    </div>
    <div class="media-body">
        <div style="">
            <h4 class="text-muted media-heading" style="font-size:small"><a href="/test/read.cgi/<%= board %>/<%= thread %>/<%= post.number %>" onclick="$res_dialog_params = { board: <%= h board.to_json %>, thread: <%= h thread.to_json %>, number: <%= post.number %> }; $('#res_dialog').modal(); event.preventDefault()"><%= post.number %></a>:
                <% if post.mail.empty? then %>
                    <%= post.name %>
                <% else %>
                    <a class="do-nothing" href="#" title="<%= h post.mail %>"><%= post.name %></a>
                <% end %>
                <%= h post.date_proper %>
                <% if post.id %>
                    <a style="font-family:monospace" onclick="$id_dialog_params = { id: <%= h post.id.inspect %> }; $('#id_dialog').modal()">ID:<%= h post.id %></a>
                <% end %>
                <% if post.subject == "muted" %>
                    <span title="この投稿は読み上げられません。">&#x1F507;</span>
                <% end %>
            </h4>
            <div class="nichan-message"><%= post.body %></div>
        </div>
    </div>
</div>
