<div class="media">
  <div class="media-left">
  </div>
  <div class="media-body">
    <h4 class="media-heading"><%= post.number %></h4>
    <span class="nichan-message"><%= post.body %></span>
  </div>
  <div class="media-bottom text-muted">
    <small style="float: right">
      <% if post.mail.empty? then %>
          <%= h post.name %>
      <% else %>
          <a href="mailto:<%= h post.mail %>"><%= h post.name %></a>
      <% end %>
      <%= h post.date_proper %>
      <% if post.id %>
          <a href="/admin/boards/<%= @board.id %>/ban?id=<%= Rack::Utils.escape(post.id) %>">ID:<%= h post.id %></a>
      <% end %>
    </small>
  </div>
</div>
