<a name="top"></a>

<ol class="breadcrumb">
  <li><a href="/"><%= h @site_settings['SITE_NAME'] %></a></li>
  <li><a href="/<%= h @board.id %>/"><%= h @board.title %></a></li>
  <li class="active"><%= h @thread.subject %></li>
</ol>

<div class="container">
  <h1>
    <a href="/test/read.cgi/<%= @board.id %>/<%= @thread.id %>"><%= h @thread.subject %></a>
    <span class="badge"><%= @thread.size %></span>
  </h1>

  <div class="form-group">
    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#post_dialog">書き込み...</button>
    <div class="btn-group"  style="float: right">
      <a class="btn btn-default" href="/<%= File.join(@board.id, 'dat', @thread.id + '.dat') %>">.dat</a>
      <a class="btn btn-default" href="/admin/boards/<%= File.join(@board.id, @thread.id) %>">レス管理</a>
    </div>

  </div>


  <div style="margin: 20px 0px 20px 0px">
    <% @posts.each do |post| %>
      <%= erb :post_media_object, locals: { post: post } %>
    <% end %>
  </div>

  <div class="form-group">
    <a class="btn btn-default btn-block" href="#top">
      <span class="glyphicon glyphicon-arrow-up"></span>
      上に戻る
    </a>
  </div>

  <%= erb :post_dialog %>
</div>
