<a name="top"></a>

<ol class="breadcrumb">
  <li><a href="/"><%= h @site_settings['SITE_NAME'] %></a></li>
  <li><a href="/<%= h @board.id %>/"><%= h @board.title %></a></li>
  <li class="active"><%= h @thread.subject %></li>
</ol>

<div class="container">
  <h1>
    <a href="/test/read.cgi/<%= @board.id %>/<%= @thread.id %>"><%= h @thread.subject %></a>
    <span class="badge"><%= @thread.size %></span>
  </h1>

  <button style="position: fixed; bottom: 15px; right: 15px;" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#post_dialog"><span class="glyphicon glyphicon-pencil"></span>&thinsp;カキコ</button>

  <div class="form-group" style="text-align: right">
    <div class="btn-group" style="margin-bottom: 20px">
      <a class="btn btn-default" href="/test/nitecast.cgi/<%= @board.id %>/<%= @thread.id %>/">nitecast</a>
      <a class="btn btn-default" href="/<%= File.join(@board.id, 'dat', @thread.id + '.dat') %>">.dat</a>
      <a class="btn btn-default" href="/admin/boards/<%= File.join(@board.id, @thread.id) %>">レス管理</a>
    </div>
    <a class="btn btn-default btn-block" href="#bottom">
      <span class="glyphicon glyphicon-arrow-down"></span>
      下に行く
    </a>
  </div>


  <div id="timeline" style="margin: 20px 0px 20px 0px">
    <% @posts.each do |post| %>
      <%= erb :post_media_object, locals: { post: post } %>
    <% end %>
  </div>

  <script>
   var $dat_size = <%= @dat_size %>;
   function getNewMessages() {
       //console.log("getNewMessages");
       $.ajax("/<%= [@board.id, 'dat', @thread.id+'.dat'].join('/') %>?long_polling=1&format=html",
              {
                  headers: { Range: "bytes=" + $dat_size + "-" },
                  cache: false,
                  dataType: 'html',
                  success: function(data, textStatus, jqXHR){
                      $('#timeline').html($('#timeline').html() + data);
                      $("html, body").animate({ scrollTop: $(document).height() }, "slow");
                      var size = jqXHR.getResponseHeader("Content-Range").split("/")[1];
                      if (size) {
                          $dat_size = size;
                          getNewMessages();
                      } else {
                          console.error("failed to parse Content-Range header");
                          console.log(jqXHR.getResponseHeader("Content-Range"));
                      }
                  },
                  error: function(req, textStatus){
                      if (textStatus == "timeout") {
                          //console.log("timeout");
                          setTimeout(getNewMessages, 0);
                      } else {
                          console.log(textStatus);
                          setTimeout(getNewMessages, 30*1000);
                      }
                  },
                  timeout: 120*1000,
              });
   }
   getNewMessages();
  </script>

  <div class="form-group">
    <a class="btn btn-default btn-block" href="#top">
      <span class="glyphicon glyphicon-arrow-up"></span>
      上に戻る
    </a>
  </div>

  <a name="bottom"></a>

  <%= erb :post_dialog %>
</div>
