<script>
 function scrollToBottom(ev) {
     //$(window).scrollTop($(document).height() - $(window).height())
     const top = $(document).height() - $(window).height()
     $("html, body").animate({ scrollTop: top }, 600)
 }

 function scrollToTop(ev) {
     //$(window).scrollTop(0)
     $("html, body").animate({ scrollTop: 0 }, 600)
 }
</script>

<div class="form-group" style="text-align: right; position: fixed; bottom: 0em; right: 2em; margin-bottom:5px">
  <button id="unmuteBtn" class="btn btn-default" style="box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, .4);">&#x1F4E2;<!-- loudspeaker -->ミュート解除</button>

  <button class="btn btn-default" style="box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, .4);" onclick="scrollToBottom()">
    <span class="glyphicon glyphicon-arrow-down" style="text-decoration: underline; text-decoration-thickness: 3px"></span>
  </button>

  <button class="btn btn-default" style="box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, .4);" onclick="scrollToTop()">
    <span class="glyphicon glyphicon-arrow-up" style="text-decoration: overline; text-decoration-thickness: 3px"></span>
  </button>

  <button class="btn btn-primary" data-toggle="modal" data-target="#post_dialog" style="box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, .4);">
    <span class="glyphicon glyphicon-pencil"></span>&thinsp;カキコ...
  </button>
</div>

<ol class="breadcrumb">
  <li><a href="/"><%= h @site_settings['SITE_NAME'] %></a></li>
  <li><a href="/<%= h @board.id %>/"><%= h @board.title %></a></li>
  <li class="active"><%= h @thread.subject %></li>
</ol>

<div class="container" style="padding-left:5px; padding-right:5px">
  <h3>
    <a href="/test/read.cgi/<%= @board.id %>/<%= @thread.id %>"><%= h @thread.subject %></a>
    <span id="thread_size" class="badge"><%= @thread.size %></span>
  </h3>

  <div class="form-group" style="text-align: right">
    <div class="btn-group">
      <a class="btn btn-default" href="/test/nitecast.cgi/<%= @board.id %>/<%= @thread.id %>/">nitecast</a>
      <a class="btn btn-default" href="/<%= File.join(@board.id, 'dat', @thread.id + '.dat') %>">.dat</a>
      <a class="btn btn-default" href="/admin/boards/<%= File.join(@board.id, @thread.id) %>">レス管理</a>
    </div>
  </div>


  <div id="timeline" style="margin: 20px 0px 40px 0px">
    <% @posts.each do |post| %>
      <%= erb :post_media_object, locals: { post: post, board: @board.id, thread: @thread.id } %>
    <% end %>
  </div>

  <script>
    function ban(id) {
        if (!confirm(`${id} をBANしますか？`))
            return

        fetch(`/admin/boards/<%= @board.id %>/ban?id=${encodeURIComponent(id)}`)
            .then(res => {
                // 成功するとリダイレクトバックされて 200 が返る。
                if (res.status != 200) {
                    alert(`${res.status} エラー`);
                }
            });
    }
    function mute(id) {
        fetch(`/admin/boards/<%= @board.id %>/mute?id=${encodeURIComponent(id)}`)
            .then(res => {
                // 成功するとリダイレクトバックされて 200 が返る。
                if (res.status != 200) {
                    alert(`${res.status} エラー`);
                }
            });
    }
  </script>

  <script src="/yomiage.js"></script>

  <script>
    $yomiage_board_id = "<%= @board.id %>"
    $yomiage_thread_id = "<%= @thread.id %>"

    // クエリ文字列に webapi キーが指定された場合は speech.pcgw.pgw.jp の API を使う。
    // そうでなければ ブラウザ組み込みの 音声読み上げを使う。
    const params = new URLSearchParams(window.location.search)
    if (params.get('webapi') !== null)
        window.speakDispatch = speakHttpApi;
    else
        window.speakDispatch = speakSpeechSynthesis;

    if (params.get('silent') !== null)
        $silentMode = true;

    async function showNextMessage() {
        var post = $queue.shift();
        if (post.subject !== "muted") {
            var forSpeech = massage(post.body);
            await speakDispatch(forSpeech);
            await delay(5000 / ($queue.length+1));
            // ↑この式はケアが要る。
        } else {
            console.info("muted message skipped")
        }
    }

    function showUnmuteButton() {
        $(window.unmuteBtn).show();
    }
    $(function(){
        $(window.unmuteBtn).hide();

        if (!<%= speech_enabled_js %>)
            return

        // スクリプト主導の音声再生ができるかテストする。
        new Audio("/enabled.wav").play().catch(err => {
            $(window.unmuteBtn).show();
        });
        window.unmuteBtn.onclick = ev => {
            new Audio("/enabled.wav").play().then(_ => {
                $(window.unmuteBtn).hide();
            });
        };
    });

    async function main() {
        while (true) {
            try {
                // with $dat_size = null
                var data = await getNewMessages();
                console.log("got data", data);
                $('#timeline').html(data.html); // replace all
                $dat_size = data.dat_size;
                $('#thread_size').text(data.thread_size);
                break;
            } catch (textStatus) {
                if (textStatus == "timeout") {
                    console.log("timeout");
                } else {
                    console.log(textStatus);
                    await delay(10*1000);
                }
            }
        }
        console.log("initial load done");

        while (true) {
            while (true) {
                try {
                    var data = await getNewMessages();
                    console.log(data.posts);

                    $queue = $queue.concat(data.posts);
                    $dat_size = data.dat_size;

                    $('#timeline').html($('#timeline').html() + data.html);
                    $("html, body").animate({ scrollTop: $(document).height() }, "slow");

                    $('#thread_size').text(data.thread_size);

                    break;
                } catch(textStatus) {
                    if (textStatus !== "timeout") {
                        await delay(5*1000);
                    }
                }
            }

            while ($queue.length) {
                await showNextMessage();
            }
        }
    }

   if (<%= speech_enabled_js %>)
       main();
  </script>

  <script>
   // post_media_object.erb で使う。
    $(function(){
      $('a.do-nothing').click(function(ev){
        ev.preventDefault();
      });
    });
  </script>

  <%= erb :post_dialog %>
  <%= erb :id_dialog %>
</div>
